body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

img {
	width: calc(min(300px, 28vmin));
	object-fit: contain;
}

.subsecond {
	color: silver;
}

.hour,
.minute {
	color: black;
}

.second {
	color: tomato;
}
